html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, /*'Voice In My Head',*/ 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  /*font-size: larger;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: black;
}

span {  
  text-overflow: ellipsis;
  overflow: hidden;
}

@font-face {
  font-family: 'Voice In My Head';
  src: url('./Voice\ In\ My\ Head.otf') format('opentype');
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
/*::-webkit-scrollbar-track {
  background: #f1f1f1;
}*/

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
